{% extends 'base.html' %}
{% block center_line %}
    <div class="quest_blc">
        <h1>Смена пароля</h1>
        <form action="" method="post">
            {% csrf_token %}
            {% for field in form %}
                <div>
                    <label for="">{{ field.label }}</label>
                    {{ field }}
                    {% for err in field.errors %}
                        <p>{{ err }}</p>
                    {% endfor %}
                </div>
            {% endfor %}
            <input type="submit" value="Сменить">
        </form>
    </div>
{% endblock %}