{% extends 'index.html' %}
{% load thumbnail %}
{% block center_line %}
    <h1>Мнение эксперта</h1>
    <div class="artic_feat_page">
        {% for object in object_list %}
            <div class="artic_feat_one">
                <a href="{% url 'content:expert_note' object.slug %}"><h4>{{ object.title }}</h4></a>
                <div class="row artic_feat_links">
                    <div class="col4">
                        <p class="p12">{{ object.created|date:"d.m.Y" }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
{% block pagination %}
<div class="pagination center">
    {% if page_obj.paginator.num_pages > 1 %}
        <ul>
            {% for page in page_obj.pages %}
                <li>
                    {% if page %}
                        {% ifequal page page_obj.number %}
                            <span>{{ page }}</span>
                        {% else %}
                            <a href="?{{ page.querystring }}">{{ page }}</a>
                        {% endifequal %}
                    {% else %}
                        ...
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</div>
{% endblock %}