/*Reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td{
    background:transparent;
    border:0;
    margin:0;
    outline:0;
    padding:0;
    text-decoration:none;
    font-family:'Roboto', sans-serif;
    box-sizing:border-box;
}
img{
    max-width:100%;
    max-height:100%;
}
li{
    list-style:none;
}
input, textarea, select{
    box-sizing:border-box;
    outline:0;
}
body{
    min-width:320px;
    -webkit-text-size-adjust:100%;
}
.clear{
    clear:both;
}
@font-face{
    font-family:'Roboto';
    src:url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight:normal;
    font-style:normal;
}
@font-face{
    font-family:'Roboto';
    src:url('../fonts/Roboto-Bold.ttf') format('truetype');
    font-weight:700;
    font-style:normal;
}
@font-face{
    font-family:'Roboto';
    src:url('../fonts/Roboto-Medium.ttf') format('truetype');
    font-weight:600;
    font-style:normal;
}
@font-face{
    font-family:'Roboto';
    src:url('../fonts/Roboto-Black.ttf') format('truetype');
    font-weight:900;
    font-style:normal;
}
h1{
    font-size:22px;
    margin:0 0 40px;
    color:#232323;
    font-weight:400;
}
h2 {
    font-size: 18px;
    color: #232323;
    font-weight: 400;
}
.p10{
    font-size:10px;
}
.p12{
    font-size:12px;
}
.p13{
    font-size:13px;
}
.p14{
    font-size:14px;
    line-height:20px;
}
.p16{
    font-size:16px;
    line-height:25px;
}
.p18{
    font-size:18px;
}
.p19{
    font-size:19px;
}
.p20{
    font-size:20px;
}
.p22{
    font-size:22px;
}
.p40{
    font-size:40px;
}
.logo_rel{
    position:relative;
}
.logo_rel img{
    display:block;
}
.logo_rel:after{
    content:'';
    background:#f5ee05;
    height:100%;
    width:1000px;
    left:-990px;
    top:0;
    position:absolute;
}
.header{
    padding:20px 0 30px;
}
.header p, .header a{
    color:#4d4d4d;
}
.header a{
    text-decoration:underline;
}
.top_pad_lt{
    padding-left:40px;
}
.akk_lnk{
    margin-bottom:6px;
}
.akk_lnk a{
    padding-left:35px;
    background:url("../img/ico_login.png") no-repeat left center;
}
.fav_lnk a{
    padding-left:35px;
    background:url("../img/ico_yel_star.png") no-repeat left center;
    text-decoration:none;
}
a.delete_fav{
    padding-left:18px;
    background:url("../img/ico_yel_star.png") no-repeat left center;
    text-decoration:none;
}
.btn_yel{
    background:#f5ee05;
    padding:0 10px;
    height:36px;
    line-height:32px;
    color:#1a1919;
    font-weight:600;
    font-size:12px;
    display:inline-block;
    border-radius:5px;
    cursor:pointer;
    border:2px solid #f5ee05;
    box-sizing:border-box;
    transition:.2s;
}
.btn_yel:hover{
    background:#fff;
}
.btn_black{
    background:#2b2a29;
    padding:0 10px;
    height:36px;
    line-height:32px;
    color:#fff;
    font-weight:600;
    font-size:12px;
    display:inline-block;
    border-radius:5px;
    cursor:pointer;
    border:2px solid #2b2a29;
    box-sizing:border-box;
    transition:.2s;
}
.btn_black:hover{
    background:#fff;
    color:#2b2a29;
}
.btn_white{
    padding:0 10px;
    height:36px;
    line-height:32px;
    color:#1f1e1e;
    font-weight:600;
    font-size:12px;
    display:inline-block;
    border-radius:5px;
    cursor:pointer;
    border:2px solid #2b2a29;
    box-sizing:border-box;
    transition:.2s;
}
.btn_white:hover{
    background:#1f1e1e;
    color:#fff;
}
.header .btn_yel{
    margin:0 8px 0 70px;
}
.top_search{
    display:inline-block;
    vertical-align:bottom;
}
.top_search input{
    border:0;
    box-shadow:none;
    font-size:16px;
    border-bottom:1px solid #aaa;
    margin-right:8px;
    width:100px;
}
.top_search button{
    background:#fff;
    border:0;
    vertical-align:bottom;
    padding:0;
    height:24px;
}
.nav_level1 > li{
    padding:20px 0 20px 45px;
    background-position:left 16px;
    background-repeat:no-repeat;
}
.nav_level1 > li > a{
    color:#585858;
    font-size:17px;
    text-decoration:underline;
}
.nav_level1 > li.active > a{
    color:#2e2e2e;
}
#nav_ico1{
    background-image:url("../img/ico_nav1.png");
}
#nav_ico2{
    background-image:url("../img/ico_nav2.png");
}
#nav_ico3{
    background-image:url("../img/ico_nav3.png");
}
#nav_ico4{
    background-image:url("../img/ico_nav4.png");
}
#nav_ico5{
    background-image:url("../img/ico_nav5.png");
}
#nav_ico6{
    background-image:url("../img/ico_nav6.png");
}
#nav_ico7{
    background-image:url("../img/ico_nav7.png");
}
#nav_ico8{
    background-image:url("../img/ico_nav8.png");
}
#nav_ico9{
    background-image:url("../img/ico_nav9.png");
}
.nav_level2{
    padding-left:15px;
}
.nav_level2 a{
    color:#585858;
    font-size:17px;
    text-decoration:underline;
}
.nav_level2 > li{
    padding:40px 0 0;
}
.nav_level2 li.active span{
    color:#585858;
    display:inline-block;
    font-size:17px;
    position:relative;
}
.nav_level2 .active span:before{
    content:'';
    position:absolute;
    height:10px;
    left:-10px;
    right:-15px;
    bottom:0;
    display:block;
    background:#f5ee05;
    z-index:-1;
}
.left_links a, .right_links a{
    margin-bottom:10px;
    display:block;
}
.left_links img, .right_links img{
    width:100%;
    opacity:.7;
    transition:.2s;
}
.left_links img:hover, .right_links img:hover{
    opacity:1;
}
.left_links, .right_links{
    width:17.75%;
}
.center_main{
    width:45.75%;
}
.btn_sm{
    height:30px;
    line-height:26px;
    font-size:10px;
}
.over_visible{
    overflow:visible;
}
.form_m_wrap{
    padding:25px;
    box-shadow:0 1px 9px 0 rgba(0, 0, 0, 0.11);
}
.form_m_wrap .p19{
    text-decoration:underline;
    color:#393838;
    margin-bottom:15px;
}
.form_m_wrap .p12{
    color:#797979;
}
.form_m_wrap button{
    position:absolute;
    right:-1px;
    top:-1px;
}
.form_m_wrap form{
    border:1px solid #c8c8c8;
    position:relative;
    border-radius:0 5px 5px 0;
    margin:10px 0;
}
.form_m_wrap input{
    height:28px;
    height:28px;
    line-height:28px;
    color:#797979;
    padding:0 10px;
    border:0;
    font-size:12px;
}
.js_list_hidden{
    display:none;
    background:#fff;
    position:absolute;
    box-shadow:0 3px 8px 0 rgba(0, 0, 0, 0.21);
    padding:15px 0;
    margin-top:10px;
}
.js_list_hidden li a{
    padding:5px 20px;
    color:#4d4d4d;
    font-size:13px;
    text-decoration:underline;
    transition:.2s;
    display:block;
}
.js_list_hidden li a:hover{
    background:#f5ee05;
}
.btn_wide{
    width:100%;
    text-align:center;
}
.form_m_wrap .btn_wide{
    margin:10px 0;
}
.form_m_wrap .f1_dark{
    color:#4a4949;
}
.form_m_wrap .f1_dark_under{
    text-decoration:underline;
    color:#4a4949;
}
.search_head{
    padding:20px 0;
}
.search_head{
    color:#232323;
    overflow:hidden;
}
.search_head select{
    border:0;
    border-bottom:1px solid #232323;
}
.yel_select{
    background:#fff798;
    display:inline-block;
    padding:0 8px;
    color:#2c2c2c;
    font-weight:700;
}
.ol_head{
    margin-bottom:15px;
}
.ol_head h4{
    font-size:18px;
    font-weight:400;
    color:#1c1c1c;
}
.one_line{
    padding:12px;
    border-left:4px solid transparent;
    overflow:hidden;
    box-shadow:0 1px 9px 0 rgba(0, 0, 0, 0.11);
    margin-bottom:10px;
}
.top_line{
    background:#fffdbd;
    border-color:#ffd36a;
}
.no_pad{
    padding:0;
}
.full_descr div{
    margin-bottom:30px;
}
.full_descr .p14_sub{
    margin-bottom:15px;
}
.ol_icos a, .ol_icos p{
    color:#868686;
    font-size:13px;
}
.ol_icos > div{
    padding:0;
}
.to_fav{
    padding-left:18px;
    background:url("../img/ico_em_star.png") no-repeat left center;
}
.all_views{
    padding-left:18px;
    color:#868686;
    font-size:13px;
    background:url("../img/ico_eye.png") no-repeat left center;
}
.ol_footer{
    margin-top:10px;
    overflow:hidden;
}
.show_more_ol{
    font-size:12px;
    margin-top:20px;
    padding-right:25px;
    background:url("../img/arr_dwn.png") no-repeat right center;
    text-decoration:underline;
    cursor:pointer;
    display:inline-block;
}
.full_descr{
    display:none;
    padding-top:15px;
}
.pagination{
    padding:12px 0;
    border-top:1px solid #ebebeb;
    border-bottom:1px solid #ebebeb;
    background:#fcfcfc;
    margin:40px 0 30px;
}
.pagination li{
    display:inline-block;
    margin:0 3px;
}
.pagination a{
    display:block;
    background:#fff;
    border:1px solid #c4c4c4;
    border-radius:3px;
    padding:0 10px;
    height:28px;
    line-height:26px;
    color:#b0afaf;
    font-size:14px;
    transition:.2s;
}
.pagination a:hover{
    background:#fdf850;
    color:#141414;
    border:1px solid #fdf850;
}
.pagination span{
    display:block;
    background:#fdf850;
    height:28px;
    line-height:26px;
    color:#141414;
    padding:0 10px;
    font-size:14px;
    border:1px solid #fdf850;
    border-radius:3px;
}
.new_feat{
    width:33.33%;
    float:left;
    padding:5px;
}
.row1 .new_feat img{
    height:225px;
}
.new_feat_in{
    box-shadow:0 1px 9px 0 rgba(0, 0, 0, 0.11);
    padding:25px 25px 10px;
    min-height:320px;
}
.new_feat_in h3{
    color:#1f1e1e;
    font-size:17px;
    position:relative;
    display:inline-block;
    font-weight:400;
    margin-bottom:12px;
}
.new_feat_in h3:before{
    content:'';
    position:absolute;
    height:10px;
    left:-10px;
    right:-15px;
    bottom:0;
    display:block;
    background:#f5ee05;
    z-index:-1;
}
.content_bottom{
    max-width:830px;
    margin:0 auto;
}
.new_feat_in h4{
    color:#595959;
    font-size:16px;
    font-weight:400;
    text-decoration:underline;
}
.new_feat_in .p16{
    color:#898989;
    margin-bottom:5px;
    line-height:20px;
}
.quest_blc input[type=radio]{
    display:none;
}
.quest_blc label{
    color:#595959;
    font-size:14px;
    margin-bottom:6px;
    display:inline-block;
}
.quest_blc input[type=radio] + label:before{
    content:'';
    display:inline-block;
    margin-right:5px;
    background:#efefef;
    border:1px solid #d1d1d1;
    border-radius:100%;
    height:9px;
    width:9px;
}
.quest_blc input[type=radio]:checked + label:before{
    background:#fdd250;
    height:5px;
    width:5px;
    border:3px solid #eaeaea;
}
.quest_blc .btn_black{
    height:24px;
    line-height:20px;
    margin:10px 0 14px;
}
.quest_blc a{
    color:#313131;
    font-size:12px;
    text-decoration:underline;
}
.promo_tx_wr{
    padding:5px;
    margin:0 0 45px;
}
.promo_tx{

    box-shadow:0 1px 9px 0 rgba(0, 0, 0, 0.11);
    padding:25px;
}
.promo_tx p{
    color:#4d4d4d;
    margin-bottom:20px;
}
.footer{
    background:#fcfcfc;
    padding:30px 0 20px;
    border-top:1px solid #e8e8e8;
}
.footer h3{
    color:#4d4d4d;
    font-weight:600;
    font-size:14px;
    margin-bottom:25px;
}
.footer li{
    margin-bottom:5px;
}
.ft_menu a{
    color:#4d4d4d;
    text-decoration:underline;
    font-size:14px;
}
.ft_menu2{
    padding:45px 0 0 45px;
}
.tel_footer{
    color:#4d4d4d;
    font-size:22px;
}
.ft_addr{
    color:#4d4d4d;
    font-size:12px;
    margin:30px 0;
}
.breadcrumbs{
    margin-bottom:40px;
}
.breadcrumbs li{
    display:inline-block;
    margin-right:5px;
    vertical-align:middle;
}
.breadcrumbs a{
    color:#535353;
    font-size:14px;
    text-decoration:underline;
}
.breadcrumbs span{
    color:#a5a5a5;
    font-size:14px;
}
.promo_blc .row + .row{
    margin-top:15px;
}
.new_feat .p13{
    margin:20px 0 30px;
    color:#232323;
    text-align:center;
}
.delete_from_fav{
    margin-top:17px;
    display:inline-block;
    padding-left:18px;
    color:#1f1e1e;
    font-size:12px;
    background:url(../img/del.png) no-repeat left center;
}
.research_page form p{
    font-weight:600;
    line-height:32px;
    margin-bottom:8px;
}
.research_page input, .research_page select{
    height:32px;
    font-size:12px;
    padding:0 15px;
    width:100%;
    line-height:32px;
    border:0;
    box-shadow:none;
    background:#f4f4f4;
    color:#686868;
    border-radius:4px;
}
.research_page form button{
    width:100%;
    margin-top:30px;
}
.research_page_head{
    margin-bottom:15px;
}
.research_page_head span{
    color:#7d7d7d;
}
.research_page_head a{
    text-decoration:underline;
    margin-right:10px;
    color:#4a4a4a;
}
.curr_page{
    font-weight:600;
}
.research_page .p18{
    color:#232323;
    margin:50px 0 30px;
    font-weight:100;
}
.mar_bot20{
    margin-bottom:20px;
}
.cont_page b{
    font-weight:600;
}
.cont_page p, .cont_page a{
    color:#4d4d4d;
}
.cont_page .row + .row{
    margin-top:30px;
}
.edit_res{
    margin-top:17px;
    display:inline-block;
    padding-left:25px;
    color:#1f1e1e;
    font-size:12px;
    background:url(../img/ico_edit.png) no-repeat left center;
}
.grad_bg{
    background:url("../img/bg_grad.jpg") no-repeat center / 100% 100%;
    border:0;
}
.grad_bg a{
    color:#1f1e1e;
}
.grad_bg .ol_footer{
    margin-top:20px;
}
.ask_page .p14{
    color:#4d4d4d;
    margin-bottom:30px;
}
.quest_blc_big{
    margin-bottom:10px;
}
.quest_blc_big .p16{
    color:#303030;
    margin-bottom:20px;
}
.progress_bar{
    height:8px;
    background:#f5ee05;
    margin-top:5px;
}
.qs_res_one{
    margin-bottom:8px;
}
.qs_res_one p{
    color:#595959;
}
.quest_blc .p12{
    color:#313131;
    margin-top:25px;
}
.quest_blc{
    min-height:0;
    padding:20px;
}
.testim_one{
    margin-bottom:40px;
    min-height: 200px;
}
.testim_one h4{
    color:#232323;
    font-size:20px;
    font-weight:400;
    margin-bottom:20px;
    text-align:center;
}
.testim_one img{
    float:left;
    margin:0 15px 15px 0;
}
.testim_one .p14{
    color:#232323;
    margin-bottom:10px;
}
.testim_one .p13{
    color:#868686;
    margin-top:30px;
}
.testim_body{
    margin-bottom:25px;
}
.testim_one .p14.pullright{
    font-style:italic;
}
.main_date{
    background:url("../img/date_bg.jpg") no-repeat center / 100% 100%;
    padding:20px;
    margin-bottom:30px;
    border:1px solid #f7f7f7;
}
.main_date p{
    color:#fff;
    line-height:20px;
    font-weight:100;
}
.main_date .p20{
    margin-bottom:15px;
}
.other_dates{
    background:#f6f6f6;
    padding:10px 20px;
    border:1px solid #f7f7f7;
    margin-bottom:10px;
}
.other_dates p{
    color:#212121;
}
.my_list_head{
    margin-bottom:20px;
    overflow:hidden;
}
.my_vac{
    color:#424242;
    font-size:13px;
    padding-left:18px;
    background:url(../img/ico_doc.png) no-repeat left center;
}
.my_fav{
    color:#424242;
    margin-left:20px;
    font-size:13px;
    padding-left:18px;
    background:url(../img/ico_yel_star.png) no-repeat left center;
}
.ml_photo a{
    margin-left:15px;
    color:#777;
    text-decoration:underline;
}
.ml_descr p, .ml_descr a{
    color:#232323;
}
.ml_descr p{
    margin-bottom:5px;
}
.ml_descr .p18{
    margin-bottom:15px;
    font-weight:600;
}
.ml_phone{
    padding-left:18px;
    background:url(../img/ico_phone.png) no-repeat left center;
}
.ml_mail{
    padding-left:18px;
    background:url(../img/ico_envel.png) no-repeat left center;
    text-decoration:underline;
}
.ml_edit{
    color:#5a5959;
    font-size:12px;
    text-decoration:underline;
    padding:3px 0 3px 23px;
    background:url(../img/ico_edit.png) no-repeat left center;
}
.artic_feat_one{
    margin-bottom:30px;
}
.artic_feat_one h4{
    font-size:18px;
    color:#151515;
    text-decoration:underline;
    position:relative;
    font-weight:400;
    display:inline-block;
    margin:20px 0;
    transition:.2s;
}
.artic_feat_one h4:after{
    content:'';
    position:absolute;
    height:10px;
    left:-10px;
    right:-15px;
    bottom:0;
    display:block;
    background:#fff;
    z-index:-1;
    transition:.2s;
}
.artic_feat_one h4:hover{
    text-decoration:none;
}
.artic_feat_one h4:hover:after{
    background:#f5ee05;
}
.artic_feat_links{
    margin-top:20px;
}
.artic_feat_links .p12{
    color:#6a6a6a;
}
.artic_feat_links a{
    color:#2d2d2d;
    font-size:14px;
    text-decoration:underline;
}
.artic_one img{
    margin-bottom:30px;
}
.artic_one p{
    margin-bottom:30px;
    color:#151515;
}
.artic_one{
    margin-bottom:40px;
}
.row1 .new_feat{
    text-align:center;
}
.row1 .new_feat.price_item img{
    height:230px;
}
.jur_answer .p40{
    margin-right:20px;
}
.other_dates span{
    vertical-align:middle;
    color:#403f3f;
}
.jur_answer img{
    margin:20px 0;
}
.jur_answer p{
    color:#232323;
}
.jur_h1{
    color:#7d7d7d;
    font-size:14px;
    text-decoration:underline;
    margin-bottom:7px;
}
.jur_nav{
    padding-left:25px;
}
.jur_nav2{
    border-left:1px solid #e8e8e8;
    border-right:1px solid #e8e8e8;
    height:500px;
}
.right_links .jur_lnks a{
    color:#4a4a4a;
    font-size:14px;
    text-decoration:underline;
    float:left;
    margin:0 7px 3px 0;
}
.jur_lnk1{
    transition:.2s;
    padding:17px 15px;
}
.jur_lnks{
    overflow:hidden;
    padding:0 15px;
}
.j_date{
    color:#7d7d7d;
    font-size:13px;
    margin-bottom:12px;
}
.j_intro{
    color:#232323;
    font-size:14px;
}
.jur_lnk1:hover{
    background:#f7f7f7;
}
/*Modal*/
.modal{
    background:rgba(255, 255, 255, 1);
    width:535px;
    margin:200px auto;
    position:relative;
    padding:60px;
    box-sizing:border-box;
    box-shadow:0px 0px 25.23px 3.77px rgba(0, 0, 0, 0.39);
}
.modal input[type=text], .modal input[type=password]{
    display:block;
    box-sizing:border-box;
    width:100%;
    margin:10px 0;
    padding:10px 0 30px;
    font-size:14px;
    border:0;
    border-bottom:1px solid #e8e8e8;
}
.modal input[type=password]{
    margin-bottom:50px;
}
.modal input[type=file]{
    float:right;
    padding:20px 0;
}
.modal h2{
    color:#131313;
    text-align:center;
    font-size:38px;
    font-weight:400;
    margin-bottom:40px;
}
.modal .modal_in1{
    margin-bottom:20px;
    text-align:left;
}
.modal .modal_in1 p{
    margin-bottom:10px;
}
.modal .close{
    right:0;
    top:0;
    position:absolute;
    padding:10px;
    background:#e8e8e8;
}
.modal .p12{
    color:#7a7a7a;
    margin-top:15px;
}
.wide_yellow{
    width:100%;
    background:#f5ee05;
    padding:30px 0;
    text-align:center;
    text-transform:uppercase;
    color:#1c1c1c;
    font-size:16px;
    cursor:pointer;
    border:0;
}
.themodal-lock{
    overflow:hidden;
}
.themodal-overlay{
    position:fixed;
    bottom:0;
    left:0;
    top:0;
    right:0;
    z-index:100;
    overflow:auto;
    -webkit-overflow-scrolling:touch;
}
.themodal-overlay > *{
    -webkit-transform:translateZ(0px);
}
.themodal-overlay{
    background:rgba(255, 255, 255, 0.8);
    /* IE6–IE8 */
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F000000, endColorstr=#7F000000);
    zoom:1;
}
.modal select{
    -webkit-appearance:none;
    background:url('../img/arr_dwn2.png') no-repeat right center;
    -moz-appearance:none;
    text-indent:0.01px;
    text-overflow:'';
    -ms-appearance:none;
    appearance:none !important;
    display:block;
    box-sizing:border-box;
    width:100%;
    margin:10px 0;
    padding:10px 0 30px;
    font-size:14px;
    border:0;
    border-bottom:1px solid #e8e8e8;
}
.modal option:disabled{
    color:#e8e8e8;
}
select::-ms-expand{
    display:none;
}
.search_list a{
    text-decoration: underline;
}

.messages li{
    background: #f6f6f6;
    padding: 10px 20px;
    border: 1px solid #f7f7f7;
    margin-bottom: 10px;
}
.btn_yel a{
    text-decoration: none;
}
.artic_one td{
    border:1px solid gray;
}