{% load ads_tags %}
{% get_favorites request.user as favorites %}
{% for cv in list %}
    <div class="one_line {% if cv.in_top %}in_top{% endif %}">
        <div class="col3 no_pad">
            {% if cv.profile__photo %}
                <img src="{{ MEDIA_URL }}{{ cv.profile__photo }}" alt="">
            {% else %}
                <img src="{{ STATIC_URL }}img/conp_def.jpg" alt="">
            {% endif %}
        </div>
        <div class="col13">
            <div class="row ol_head">
                <div class="col10">
                    <h4>{{ cv.position }}</h4>
                </div>
                <div class="col6 right">
                    {% if cv.desired_salary %}
                        <p class="p14 yel_select">{{ cv.desired_salary }} Р</p>
                    {% else %}
                        <p class="p14 yel_select">Не указано</p>
                    {% endif %}
                </div>
            </div>
            <div class="short_descr">
                <p class="p14">
                    <b>Опыт:</b> {{ cv.experience }}
                </p>
            </div>
            <div class="full_descr" style="display: none;">

            </div>
            <div class="ol_icos">
                {% if request.user.is_authenticated %}
                    {% if favorites and cv.pk in favorites.cv %}
                        <div class="col5"><a href="{% url 'catalog:delete_fav' 'cv' cv.pk %}"  class="delete_fav">Избранное</a></div>
                    {% else %}
                        <div class="col5"><a href="{% url 'catalog:add_fav' 'cv' cv.pk %}"  class="to_fav">Избранное</a></div>
                    {% endif %}
                {% endif %}
                <div class="col5"><p class="all_views">{{ cv.view_count }} просмотров</p></div>
                <div class="col6"><p>Добавлено: {{ cv.created|date:"j E Y" }}</p></div>
            </div>
        </div>
        <div class="clear"></div>
        <div class="ol_footer">
            <div class="col8">
                <p class="show_more_ol" data-type="1" data-pk="{{ cv.pk }}">Посмотреть полностью</p>
            </div>
            <div class="col8 right">
                <a href="{% url 'catalog:cv_reply' cv.pk %}" class="btn_white">Отправить приглашение</a>
            </div>
        </div>
    </div>
{% endfor %}