<div>
    <p class="p14">Образование: <b>{{ edu|default:"Не указано" }}</b></p>
</div>
<div>
    <p class="p14 p14_sub"><b>Навыки</b></p>
    <p class="p14">{{ skills|default:"Не указано" }}</p>
</div>
<div>
    <p class="p14 p14_sub"><b>Последнее место работы:</b></p>
    <p class="p14">{{ last_work|default:"Не указано" }}</p>
</div>
<div>
    <p class="p14 p14_sub"><b>Дата рождения:</b></p>
    <p class="p14">{{ birth_date }}</p>
</div>
<div>
    <p class="p14 p14_sub"><b>ФИО:</b> {{ fio }}</p>
    <p class="p14 p14_sub"><b>Телефон:</b> {{ phone }}</p>
    <p class="p14 p14_sub"><b>E-mail:</b> {{ email }}</p>
    <p class="p14 p14_sub"><a href="{% url 'catalog:to_print' 'cv' pk %}" target="_blank">Распечатать</a></p>
</div>