{% extends 'index.html' %}
{% block center_line %}
    <h1>Разместить вакансию</h1>
    <form action="" method="post">
            {% csrf_token %}
            {% for field, errors in form.errors.items %}
                {% if field == '__all__' %}
                    {% for error in errors %}
                        {{ error }}
                    {% endfor %}
                {% endif %}
            {% endfor %}
            {% for field in form %}
                <div class="row_input">
                    {% if field.name != 'captcha' %}
                        <label for="">{{ field.label }} {% if field.field.required %}<br><small>(обязательно)</small>{% endif %}</label>
                    {% endif %}
                    {{ field }}
                    {% for err in field.errors %}
                        <p>{{ err }}</p>
                    {% endfor %}
                </div>
            {% endfor %}
            <input type="submit" class="btn_yel fl-right" value="Отправить">
    </form>
    <div class="info_rab">
        <h2>Уважаемые работодатели!</h2>
        <p><strong>Вы можете разместить Ваши вакансии в газете, выбрав удобный для Вас способ:</strong></p>
        <p><span>1.</span> Позвонить по телефонам: 8 (8332) 21-42-04, 21-42-08, 21-30-28, 21-03-60, 21-57-23;</p>
        <p><span>2.</span> Направить запрос по электронной почте: kg@kadry-goroda.ru;</p>
        <p><span>3.</span> Прийти в редакцию газеты по адресу: г. Киров, ул. Карла Маркса, д. 18, офис 204;</p>
        <p><span>4.</span> Или заполнить форму заявки на нашем сайте (в ближайшее время наш клиент-менеджер свяжется с Вами).</p>
        <br>
        <p>Обратите внимание, что размещение вакансий платное (от 90 рублей). Условия размещения Вы можете узнать у менеджера.</p>
    </div>
{% endblock %}
{% block modal %}
    <div class="modal" id="test-modal" style="display: none">
		<a href="#" class="close"><img src="{{ STATIC_URL }}img/cross.png" alt=""></a>
		<div>
			<form method="POST" id="form_1" class="formv" action="{% url 'profile:profile_set_photo' %}"
                  enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" name="photo">
                <button type="submit" class="wide_yellow">Сменить фото</button>
			</form>
		</div>
    </div>
{% endblock %}