{% extends 'index.html' %}
{% block center_line %}
    <div class="my_list_page">
        <div class="my_list_body">
            <div class="row">
                <div class="col12 ml_descr">
                    {{ text|safe }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}